<main>
    <div>
        <h1>Rcuperar Contraseña</h1>
        <form action="/api/sessions/cambiarcontra" method="POST" class="d-flex flex-column" >
            <input type="text" name="email" part="Email" placeholder="ingrese email"  class="p-3 m-3">
            <input type="text" name="password" part="Contraseña" placeholder="ingrese Nueva contraseña" class="p-3 m-3">
            <button>Enviar</button>
        </form>
    </div>
</main>