<main>
    <div>
        <h1>Login</h1>
        <form action="/api/sessions/login" method="POST" class="d-flex flex-column" >
            <input type="text" name="email" part="Email" placeholder="ingrese email"  class="p-3 m-3">
            <input type="text" name="password" part="Contrase単a" placeholder="ingrese contrase単a" class="p-3 m-3">
            <button>Enviar</button><br>
            <a href="/register">ir a register</a><br>
            <a href="/cambiarcontra">多olvidaste tu contrase単a?</a>
        </form>
    </div>
</main>