<main>
    <div>
        <h1>Register</h1>
        <form action="/api/sessions/register" method="POST" class="d-flex flex-column" > 
            <input type="text" name="first_name" part="Nombre" placeholder="ingrese nombre" class="p-3 m-3">
            <input type="text" name="last_name" part="Apellido" placeholder="ingrese apellido" class="p-3 m-3">
            <input type="text" name="email" part="Email" placeholder="ingrese email" class="p-3 m-3">
            <input type="text" name="password" part="Contraseña" placeholder="ingrese contraseña" class="p-3 m-3">
            <button>Enviar</button>
            <a href="/login">ir a login</a>
        </form>
    </div>
</main>